.container_text{
  padding: 0rem 2rem 100px 2rem;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  display: flex;
}
.text_value{
  font-size: 40px;
  line-height: 1.2;
  padding-bottom: 4rem;
  font-weight: 500;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}
.text{
  width: 510px;
}
.info{
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  margin-top: 2.5rem;
  --text-opacity: 1;
  color: rgba(158,167,174,var(--text-opacity));
}

.image_con{
  width: 50%;
  overflow: hidden;
  justify-content: center;
  display: flex;
}
.img_val{
  width: 448px;
  position: relative;
}