.flex{
    display: flex;
    justify-content: space-between;
}
.form_value{
    --bg-opacity: 1;
    background-color: rgba(0,0,0,var(--bg-opacity));
    padding: 0.25rem;
    border-radius: 0.75rem;
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: space-between;
}
.input_container{
    color: #ffff;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --bg-opacity: 1;
    background-color: rgba(0,0,0,var(--bg-opacity));
    border-width: 0;
    padding-left: 0.5rem;
    width: 10.5rem;
}

input::-webkit-outer-spin-button,

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
-moz-appearance: textfield;
}

.btn_container{
    line-height: 1.75rem;
    font-size: .875rem;
    padding: 0.5rem 1rem;
    --bg-opacity: 1;
    background-color: rgba(253,239,120,var(--bg-opacity));
    border-radius: 0.75rem;
    margin-left: 0.5rem;
    z-index: 10;
    cursor: pointer;
    text-transform: none;
    border: none;
}
.checkbox_container{
    padding: 1rem 0.5rem;
    max-width: 20rem;
    align-items: center;
    display: flex;
    border-color: #E2E8F0;
    word-wrap: break-word;
}
.checkbox{
    padding: 0;
    height: auto;
    width: auto;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
}
.label{
    display: flex;
    position: relative;
    align-items: center;
    --text-opacity: 1;
    color: rgba(0,0,0,var(--text-opacity));
    line-height: .75rem;
    cursor: pointer;
    font-size: 10px;
}
.cross_btn{
    background: none;
    border: none;
}
.form_centre{
    display: flex;
    align-items: center;
}
.column_flex{
    display: flex;
    flex-direction: column;
}