.animated-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 5s ease, transform 5s ease;
  font-size: 24px; 
  color: #333; 
  font-weight: bold; 
  text-align: center; 
  margin: 20px; 
}

.animated-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.text_style{
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 4rem;
  font-weight: 500;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.span_value{
  font-weight: 400!important;
  color: #9ea7ae;
}
.container{
  padding: 150px 0px;
}

.animate_p{
    animation: slideIn 2s ease
}

.animate_p1{
  animation: slideIn 3s ease
}

.animate_p2{
  animation: slideIn 4s ease
}

.animate_p3{
  animation: slideIn 5s ease
}

@keyframes slideIn {
  from {
    transform: translateY(150px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; 
    transform: translateY(-150px);
  }
  to {
    opacity: 1; 
    transform: translateY(0);
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  opacity: 0;
  animation: fadeIn 1s ease 3s forwards; 
}


.circle{
  background: linear-gradient(140.86deg, #65ECD8 11.07%, #FDEF78 80.28%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
}

.image_data{
  vertical-align: middle;
  width: 3.5rem;
}

img{
  max-width: 100%;
  height: auto;
}