.background-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.Logo {
    width: 120px;
    height: 90px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 84px;
}

.apply-btn{
    --text-opacity: 1;
    color: rgba(255,255,255,var(--text-opacity));
    --bg-opacity: 0.6;
    background-color: rgba(0,0,0,var(--bg-opacity));
    font-weight: 500;
    padding: 11px 30px;
    border-radius: 0.75rem;
    text-decoration: none;
}

.apply-btn:hover{
    --text-opacity: 1;
    color: rgba(125,237,221,var(--text-opacity));
    --bg-opacity: 1;
    background-color: rgba(0,0,0,var(--bg-opacity));
}

.body{
    display: flex;
    height: 100vh;
    margin: 0px 84px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-color: #E2E8F0;
    word-wrap: break-word;
}
.content{
    background-color: transparent;
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
    margin-bottom: 200px;
    width: 100%;
}
.image{
    z-index: 1;
    max-width: 420px;
}
.heading{
    font-size: 3.4rem;
    max-width: 700px;
    margin-bottom: 1.5rem;
    --text-opacity: 1;
    color: rgba(0,0,0,var(--text-opacity));
    line-height: 54px;
    font-weight: 400;
    letter-spacing: .2px;
    text-transform: none;
}

.offers{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2.25rem;
    font-weight: 500;   
}
.svg_data{
    margin-left: 8px;
    margin-right: 8px;
}
